html, body {
    position: relative;
	font-family: 'Nunito', Roboto, sans-serif;
	font-size: 16px;
}

body {
    //overflow: hidden;
	background: #2f3a41;
}

@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
     local('Framework7Icons-Regular'),
     url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
     url("../fonts/Framework7Icons-Regular.woff") format("woff"),
     url("../fonts/Framework7Icons-Regular.ttf") format("truetype");
}

.chip {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: #00d173;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    border-radius: 5px;
    padding: 0 6px;
    box-sizing: border-box;
    vertical-align: middle;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 2px 0;
}
.chip-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    min-width: 0;
}
.chip-delete {
    margin-right: -6px;
    width: 23px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    background-image: url(https://www.northwest.com/sites/all/themes/custom/northwest_ui/assets/img/nav/icon-close-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 13px 13px;
    background-size: 13px 13px;
    opacity: .7;
}

.container-chip {
  margin: 10px;
}

.chip-form {
  color: grey;
  background: white;
  border: 1px solid grey;
  padding: 10px;
  margin-right: 5px;
  border-radius: 20px;
}

.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 0.7;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

.layout-white .list-block ul {
	background: white;
}

.list-block {
	margin-top: 0px;
}

.layout-white .list-block #ul-menu-lateral:before, .list-block.layout-white #ul-menu-lateral:before {
    background-color: #2f3a41;
}

.layout-white .list-block #ul-menu-lateral:after, .list-block.layout-white #ul-menu-lateral:after {
    background-color: #2f3a41;
}

.layout-white .list-block ul:before, .list-block.layout-white ul:before {
    background-color: white;
}

.layout-white .list-block ul:after, .list-block.layout-white ul:after {
    background-color: white;
}

.layout-white .item-inner:after, .layout-white .list-block ul ul li:last-child .item-inner:after {
	background-color: #eaf0f3;
	}

.layout-white .searchbar {
    background: #eaf0f3;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox {
	background-color: #00d173;
}

.layout-white .list-block #ul-menu-lateral {
	background: #2f3a41;
}

.tabs-container {
	padding: 12px;
	padding-left: 15px;
	padding-right: 15px;
}

.user-card {
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	//background-image: -webkit-linear-gradient(top, grey, grey 30%, transparent 30%, transparent 100%);
}

.user-card-profile {
  margin-right: 20px;
}

.card hr {
  color: #eee;
  height: 1px;
  margin-left: -5px;
  margin-right: -5px;
    border: 0;
    border-top: 1px solid #eee;
}

.user-card hr{
  margin-left: 16px;
  margin-right: 16px;
  color: #eee;
  height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

.user-card .img-circle-plus {
	width: 75px;
	height: 75px;
	margin-top: 10px;
	box-shadow:  0 0 10px  rgba(0,0,0,0.6);
}

input.rounded {
	border: none;
	border-radius: 15px;
	font-size: 15px;
	padding: 9px 12px;
	padding-left: 45px;
	width: 265px;
	background: #e6e2dc;
	color: #596872;
}



.close-popup i.icon.icon-back {
	background-image: url('../img/ic_action_previous_item.png');
	width: 32px;
	height: 32px;
	margin-left: 0px !important;
}

.icon {
	margin-left: 3px;
}

.navbar .center {
	color: white;
}

select.rounded {
	background: url('../img/icon_tag.png') no-repeat #e6e2dc 11px 12px !important;
	border: none;
	border-radius: 15px;
	font-size: 15px;
	padding: 9px 12px;
	padding-left: 45px;
	width: 280px;
	background: #e6e2dc;
	color: #775952;
}

#user-one-img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 15%;
	top: 35%;
	border: 2px solid white;
	border-radius: 100%;
}

#user-two-img {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 15%;
	top: 35%;
	border: 2px solid white;
	border-radius: 100%;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.layout-white .content-block-inner {
	background: #2f3a41;
}

.layout-white .label-switch .checkbox:before {
	background-color: #DDD6CE;
}

.label-switch input[type=checkbox]:checked+.checkbox {
	background-color: #00d173;
}

.message-text {
	font-size: 15px !important;
}

::-webkit-input-placeholder {
   color: rgba(89, 104, 114, 0.3) !important;
}

.navbar-white {
  background-color: white;
}

.search-tags {
    margin-left: 8px;
    background: rgba(47, 58, 65, 0.03);
    /* padding: 15px; */
    padding-left: 18px;
    border-radius: 10px;
}

.navbar-popup {
  position: absolute;
  width: 100%;
  height: 11vh;
  top: 0%;
  background: #00d173;
}

.message-card {
  background-color: rgb(245, 245, 247);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  color: rgb(47, 58, 65);
}

.toolbar-popup {
  position: absolute;
  width: 100%;
  height: 8vh;
  bottom: 0%;
  border-top: 1px solid #eee;
}

.container-toolbutton {
  background: white;
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0.2%;
}

.toolbutton {
  border-radius: 0 !important;
  color: rgb(0, 209, 115);
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-top: 1px solid rgba(181, 194, 202, 0.5);
}

.add-tag, .plus-tag {
  width: 30px;
  height: 31px;
  font-size: 20px;
  border-radius: 100%;
  margin-top: 6px;
  padding: 0 5px;
  border: 2px solid rgb(89, 104, 114);
  color: rgb(89, 104, 114);
}

.message-received .message-text {
	background-color: #E8e3dd !important;
}

.message-sent .message-text {
	background-color: #00d173 !important;
}

.layout-white .toolbar:before, .toolbar.layout-white:before {
    background-color: #ddd !important;
}

.btn {
  border-radius: 28px;
  font-size: 19px;
  background: #3B5998;
  padding: 10px 20px 10px 20px;
  border: solid #3B5998 2px;
  text-decoration: none;
}

.btn-green {
  border-radius: 28px;
  font-size: 15px;
  background: #00d173;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 90px;
  margin-right: 90px;
  text-decoration: none;
}

.btn-green2 {
  border-radius: 28px;
  font-size: 15px;
  background: #00d173;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 55px;
  margin-right: 55px;
  text-decoration: none;
}

.btn-confirm {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  background: #00d173;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.none {
	visibility: hidden;
}

.visivel {
	visibility: visible;
}

.oculto {
display: none !important;
}

.no-radius {
	bolder-radius: 0px;
}

.underline {
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.top-img-project {
  background-size: 100% 100%;
  width: 100%;
  height: 30vh;
  background-position: center center;
}

.logo {
color: white;
letter-spacing:0.09em;
}

.navbar-white {
  background-color: white !important;
}

.navbar:after {
  background-color: transparent !important;
}

.page {
	background-color: white !important;
}

.tabs-container .button.active {
 background: white;
 color: #2F3A41;
}

.tabs-container .button {
 border: 1px solid white;
 color: white;
}

.blue-page {
	//background-color: #2f3a41 !important;
	background: -webkit-linear-gradient(top, #2f3a41, #2f3a41 17%, #eee 17%, #eee);
  //background-image: -webkit-linear-gradient(104deg, #eee 70%, #2f3a41 70%);
}

.layout-white .content-block-inner {
	background: white !important;
}

.layout-white .list-block #calendario {
	background: white !important;
	border: none !important;
}

.layout-white .list-block #calendario:before {
	background-color: white !important;
}

.layout-white .list-block #calendario:after {
	background-color: white !important;
}

.toolbar~.picker-modal-inner .picker-calendar-months:before {
    background-color: white !important;
}

.layout-white .content-block-inner:after {
    background-color: white !important;
}

.layout-white .picker-modal.picker-modal-inline .picker-calendar-row:after, .layout-white .picker-modal.picker-modal-inline .picker-calendar-week-days:after, .layout-white .popover .picker-modal .picker-calendar-row:after, .layout-white .popover .picker-modal .picker-calendar-week-days:after {
    background-color: white !important;
}

.navigation-drawer {
	padding: 0px !important;
	margin: 0px !important;
	height: 100%;
}

.popup-overlay.modal-overlay-visible {
  visibility: hidden !important;
}

.statusbar-overlay {
    background: #8D7A4B;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
}

.header-panel {
	//height: 33%;
	background: #2f3a41;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
}

input:focus {
    border:1px solid #00d173;
    box-shadow: 0 0 10px #00d173;
}

.item-title {
	font-size: 15px !important;
	color: #596872 !important;
}

.layout-white .panel {
	background: #2f3a41;
}

.list-block .item-content {
	padding-left: 10px;
}

.subtitle {
	font-size: 15px;
	color: #596872;
}

.subtitle2 {
	font-size: 15px;
	color: white;
}

.username {
	margin-top: -5px;
	//text-align: left;
	font-size: 16px;
	//float: left;
	color: white;
}

.occupation {
	margin-top: -15px;
	color: white;
}

#street_number {
	background: url('../img/country_region.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#street_address {
	background: url('../img/street_address.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#user_city {
	background: url('../img/city.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#user_neighborhood {
	background: url('../img/state.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#zip {
	background: url('../img/zip_code.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#graduation, #passo2-faculdade {
	background: url('../img/school.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#passo2-nascimento {
	background: url('../img/calendar.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#occupation, #passo2-profissao {
	background: url('../img/icon_business.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#description, #passo2-description {
	background: url('../img/description.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#call-smart-select {
	background: url('../img/skills.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#call-smart-select2 {
	background: url('../img/tellme.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

.smart-ul {
	border: none;
	border-radius: 15px;
	background: #eaf0f3 !important;
}

.layout-white .list-block .smart-ul:before, .list-block.layout-white .smart-ul:before {
    background-color: white !important;
}

.layout-white .list-block .smart-ul:after, .list-block.layout-white .smart-ul:after {
    background-color: white !important;
}

.skills {
	margin-top: -10;
}

.toolbar-image {
	width: 30px; height: 30px; border-radius: 100%; margin-right: 13px;
}

.college {
	color: white;
	//opacity: 0.8;
	margin-top: -33px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 15px;
	//font-weight: 600;
	//float: right;
}

.friends {
	//margin-top: -8px;
	color: white;
	font-size: 14px;
}

.friends img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.inline-block {
	display: inline-block;
}

.friends-list img {
	width: 65px;
	height: 65px;
	border-radius: 100%;
	margin-top: 8px
}

.mutual-connections-list img {
	width: 65px;
	height: 65px;
	border-radius: 100%;
	margin-top: 8px
}

#confirmacao-friends-list img {
	width: 65px;
	height: 65px;
	border-radius: 100%;
	margin-top: 8px
}

.img-circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.profile-div {
	color: #596872;
}

.img-circle-plus {
	width: 110px;
	height: 110px;
	border-radius: 100%;
	vertical-align: middle;
}

.profile-photo {
    margin-top: 30px;
	margin-bottom: 10px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 40px;

}

#pic-confirm {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

#preview-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

#profile-view-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

#user-view-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.search-img {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: -57px;
    margin-left: -70px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
    position: absolute;
	box-shadow: 0 0 0 0 rgba(0, 209, 115, 0.7);
    top: 50%;
    left: 51%;
    z-index: 1;
    overflow: hidden;
}

.search-effect {
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}

#search-box {
	//display: none;
	text-align: center;
}

.btn-starbucks {
		margin-left: 70px;
		margin-right: 70px;
	}

.search-text {
	display: block;
    margin-top: -100px;
    //margin-left: -60px;
    position: relative;
	margin-left: 15px;
	margin-right: 15px;
    bottom: 10%;
    //left: 40%;
    z-index: 1;
	font-size: 15px;
	color: white;
    overflow: hidden;
}

//ESTILOS SLIDE
/* A bit of demo styles */;
.swiper-container {
  height: 100%;
}
.swiper-slide {
  height: 61vh;
  background:#fff;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}

/* Button designs */

.buts {
	position: absolute;
	bottom: 2%;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.but-nope, .but-yay {
  display: inline-block;

}

.buts button {

  background: #4cd964;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  width: 70px;
  height: 70px;
  line-height: 30px;
  margin: 0 .5em;
  margin-top: 20px;
  display: inline-block;
  font-size: 19px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
/*
#img-nope {
	//transition: width 0.5s, height 0.5s;
}

#img-nope:active {
		width: 40px;
		height: 40px;
	}

#img-fav {
	//transition: width 0.5s, height 0.5s;
}
#img-fav:active {
		width: 70px;
		height: 70px;
	}

#img-yep {
	//transition: width 0.5s, height 0.5s;
}

#img-yep:active {
		width: 40px;
		height: 40px;
	}
*/
.buts .but-nope {
  background: #ff3b30;
  width: 50px;
  height: 50px;
}

.buts .but-yay {
  width: 50px;
  height: 50px;
}

.buts .but-info {
  background: #03a9f4;
  //width: 50px;
  //height: 50px;
}

.friends-list {
 list-style: none;
 padding-left: 0px !important;
}

.friends-list li {
display: inline-block;

}

.user-label {
	color: #2f3a41;
	padding-left: 20px
}

.user-label img {
	vertical-align: middle;
	width: 22px;
	height: 22px;
}

.more {
	 left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%
}

.picker-calendar-day.picker-calendar-day-selected span {
	background: #00d173 !important;
}

.LogotipoFacebook
{
   font-weight: bold;
   font-size: 23px;
   vertical-align: middle;
   font-style: normal;
   color: white
}

.bold {
	font-weight: bold;
}

.Conteudo {
	font-size: 15px;
	font-style: normal;
	color: white
}

#columns {
	column-width: 170px;
	column-gap: 3px;
  width: 100%;
	//margin: 5px;
	//max-width: 1100px;
	//margin: 50px auto;
}

div#columns figure {
	background: #fefefe;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 5px 8px;
	padding-bottom: 10px;
	//display: inline-block;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.auto-height {
  height: auto;
}

.card {
  margin: 7px;
  border-radius: 4px;
}

.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}

.demo-card-header-pic .card-header {
    height: 42vw;
    background-size: cover;
    background-position: center;
    border-radius: 4px !important;
    border: 1px solid white;
  }

  .picker-item {
    padding: 0px !important;
  }

  .project-name {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    line-height: 20px;
    text-shadow: 2px 2px 4px #000000;
  }

  .project-description {
    margin-top: -18px !important;
  }

  .p-category {
    margin-top: -15px;
  }

  .project-owner {
    position: absolute;
    bottom: 7%;
    left: 3%;
  }
  .project-owner img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px solid white;
    vertical-align: middle;
  }

  .project-owner span {
    font-size: 14px;
    text-shadow: 1px 1px 2px #000000;
  }

.presentation {
	//width: 100%;
	height: 55vh;
	//background-color: #d6616a;
}

.color-red {
	color: #d6616a !important;
}

.button-border .button {
	border: 1px solid #775952 !important;
    color: #775952 !important;
}

.floating-button {
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    z-index: 1500;
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
    background-color: #00d173;
    color: #fff;
    overflow: hidden;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.float-button-wrapper {
	position: absolute; bottom: 8%; left: 0; right: 0; margin: 0 auto; padding-left: 35px; padding-right: 35px; color: white;
}

.color-silver {
  color: rgb(181, 194, 202);
}

p.user-label:after {
  content: '';
  width: 150px;
  height: 2px;
  background: red;
  margin: 0 10px;
}

.blur-back {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  //background-image: url('');
  width: 100%;
  height: 43vh;
  //background-size: cover;
  //background-repeat: no-repeat;
  transform: scale(1.1);

  filter: brightness(60%) blur(2px);
}

.btn-2c {
    border-radius: 5px;
}
.btn-2 {
    background: rgb(67, 233, 160);
    color: #fff;
    box-shadow: 0 6px rgb(61, 195, 135);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.btn-0 {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 12px 40px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.con {
  //position: fixed;
  margin-left: -4px;
  margin-right: -4px;
  left: 0;
  right: 0;
  z-index: 0;
  padding-top: 30px;
  //margin-left: 20px;
  //margin-right: 20px;
}

.range-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: -1px;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.range-slider input[type="range"] {
  position: relative;
  height: 28px;
  width: 100%;
  margin: 4px 0 5px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0, #b7b8b7), color-stop(100%, #b7b8b7));
  background: linear-gradient(to right, #b7b8b7 0, #b7b8b7 100%);
  background-position: center;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  outline: 0;
  border: none;
  box-sizing: content-box;
  -ms-background-position-y: 500px;
}
.range-slider input[type="range"]:focus,
.range-slider input[type="range"]:active {
  border: 0;
  outline: 0;
}
.range-slider input[type="range"]:after {
  height: 2px;
  background: #fff;
  content: ' ';
  width: 5px;
  top: 50%;
  margin-top: -1px;
  left: -5px;
  z-index: 1;
  position: absolute;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  position: relative;
  cursor: pointer;
  margin-top: -1px;
}
.range-slider input[type="range"]::-webkit-slider-thumb:after {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  left: 0;
  top: 0;
}
.range-slider input[type="range"]::-webkit-slider-thumb:before {
  position: absolute;
  top: 50%;
  right: 100%;
  width: 2000px;
  height: 2px;
  margin-top: -1px;
  z-index: 1;
  background: #007aff;
  content: ' ';
}
.range-slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  background: #b7b8b7;
  border: none;
  outline: 0;
}
.range-slider input[type="range"]::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  position: absolute;
  box-sizing: border-box;
  content: ' ';
}
.range-slider input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-slider input[type="range"]::-ms-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background: #fff;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border: 0;
  outline: 0;
  position: absolute;
  content: ' ';
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  margin-top: 0;
  top: 50%;
}
.range-slider input[type="range"]::-ms-fill-lower {
  background: #007aff;
}
.range-slider input[type="range"]::-ms-fill-upper {
  background: #b7b8b7;
}

.floating-button-toolbar,
.speed-dial {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 1500;
}
.toolbar-fixed .floating-button-toolbar,
.toolbar-fixed .speed-dial,
.toolbar-through .floating-button-toolbar,
.toolbar-through .speed-dial {
  bottom: 16px;
}
.tabbar-labels-fixed .floating-button-toolbar,
.tabbar-labels-fixed .speed-dial,
.tabbar-labels-through .floating-button-toolbar,
.tabbar-labels-through .speed-dial {
  bottom: 65px;
}
@media (min-width: 768px) {
  .tabbar-labels-fixed .floating-button-toolbar,
  .tabbar-labels-fixed .speed-dial,
  .tabbar-labels-through .floating-button-toolbar,
  .tabbar-labels-through .speed-dial {
    bottom: 71px;
  }
}
.floating-button-toolbar .floating-button,
.speed-dial .floating-button {
  right: 0;
  bottom: 0;
  position: relative;
}
.speed-dial .floating-button i {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.speed-dial .floating-button i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(-90deg) scale(0.5);
  opacity: 0;
}
.speed-dial.speed-dial-opened .floating-button i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  transform: translate3d(-50%, -50%, 0) rotate(90deg) scale(0.5);
  opacity: 0;
}
.speed-dial.speed-dial-opened .floating-button i + i {
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -50%, 0) rotate(0deg) scale(1);
  opacity: 1;
}
.speed-dial-buttons {
  position: absolute;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  bottom: 100%;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  visibility: hidden;
  pointer-events: none;
}
.speed-dial-buttons a {
  width: 40px;
  height: 40px;
  opacity: 0;
  color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: #007aff;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transform: translate3d(0, 8px, 0) scale(0.3);
  transform: translate3d(0, 8px, 0) scale(0.3);
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
.speed-dial-buttons a + a {
  margin-bottom: 16px;
}
html:not(.watch-active-state) .speed-dial-buttons a:active,
.speed-dial-buttons a.active-state {
  -webkit-transition-duration: 0ms;
  transition-duration: 0ms;
  background: #0066d6;
}
.speed-dial-opened .speed-dial-buttons {
  visibility: visible;
  pointer-events: auto;
}
.speed-dial-opened .speed-dial-buttons a {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scaleY(1);
  transform: translate3d(0, 0, 0) scaleY(1);
}
.speed-dial-opened .speed-dial-buttons a:nth-child(2) {
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
}
.speed-dial-opened .speed-dial-buttons a:nth-child(3) {
  -webkit-transition-delay: 100ms;
  transition-delay: 100ms;
}
.speed-dial-opened .speed-dial-buttons a:nth-child(4) {
  -webkit-transition-delay: 150ms;
  transition-delay: 150ms;
}
.speed-dial-opened .speed-dial-buttons a:nth-child(5) {
  -webkit-transition-delay: 200ms;
  transition-delay: 200ms;
}
.speed-dial-opened .speed-dial-buttons a:nth-child(6) {
  -webkit-transition-delay: 250ms;
  transition-delay: 250ms;
}
