html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
	font-family: Roboto, sans-serif;
	font-size: 15px;
}

body {
    overflow: hidden;
	background: #2f3a41;
}

.layout-white .list-block ul {
	background: white;
}

.list-block {
	margin-top: 0px;
}

.layout-white .list-block #ul-menu-lateral:before, .list-block.layout-white #ul-menu-lateral:before {
    background-color: #2f3a41;
}

.layout-white .list-block #ul-menu-lateral:after, .list-block.layout-white #ul-menu-lateral:after {
    background-color: #2f3a41;
}

.layout-white .list-block ul:before, .list-block.layout-white ul:before {
    background-color: white;
}

.layout-white .list-block ul:after, .list-block.layout-white ul:after {
    background-color: white;
}

.layout-white .item-inner:after, .layout-white .list-block ul ul li:last-child .item-inner:after {
	background-color: #eaf0f3;
	}

.layout-white .searchbar {
    background: #eaf0f3;
}	

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox {
	background-color: #00d173;
}

.layout-white .list-block #ul-menu-lateral {
	background: #2f3a41;
}

input.rounded {
	border: none;
	border-radius: 15px;
	font-size: 15px;
	padding: 9px 12px;
	padding-left: 45px;
	width: 265px;
	background: #e6e2dc;
	color: #596872;
}



.close-popup i.icon.icon-back {
	background-image: url('../img/ic_action_previous_item.png');
	width: 32px;
	height: 32px;
	margin-left: 0px !important;
}

.icon {
	margin-left: 3px;
}

.navbar .center {
	color: white;
}

select.rounded {
	background: url('../img/icon_tag.png') no-repeat #e6e2dc 11px 12px !important;
	border: none;
	border-radius: 15px;
	font-size: 15px;
	padding: 9px 12px;
	padding-left: 45px;
	width: 280px;
	background: #e6e2dc;
	color: #775952;
}

#user-one-img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 15%;
	top: 35%;
	border: 2px solid white;
	border-radius: 100%;
}

#user-two-img {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 15%;
	top: 35%;
	border: 2px solid white;
	border-radius: 100%;
}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

.layout-white .content-block-inner {
	background: #2f3a41;
}

.layout-white .label-switch .checkbox:before {
	background-color: #DDD6CE;
}

.label-switch input[type=checkbox]:checked+.checkbox {
	background-color: #00d173;
}

.message-text {
	font-size: 15px !important;
}

::-webkit-input-placeholder {
   color: rgba(89, 104, 114, 0.6) !important;
}


.message-received .message-text {
	background-color: #E8e3dd !important;
}

.message-sent .message-text {
	background-color: #00d173 !important;
}

.layout-white .toolbar:before, .toolbar.layout-white:before {
    background-color: #ddd !important;
}

.btn {
  border-radius: 28px;
  font-size: 19px;
  background: #3B5998;
  padding: 10px 20px 10px 20px;
  border: solid #3B5998 2px;
  text-decoration: none;
}

.btn-green {
  border-radius: 28px;
  font-size: 15px;
  background: #00d173;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 90px;
  margin-right: 90px;
  text-decoration: none;
}

.btn-green2 {
  border-radius: 28px;
  font-size: 15px;
  background: #00d173;
  color: white;
  padding: 10px 20px 10px 20px;
  margin-left: 55px;
  margin-right: 55px;
  text-decoration: none;
}

.btn-confirm {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  font-size: 15px;
  background: #00d173;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.none {
	visibility: hidden;
}

.visivel {
	visibility: visible;
}

.oculto {
display: none !important;
}

.no-radius {
	bolder-radius: 0px;
}

.underline {
	text-decoration: underline;
}

.text-center {
	text-align: center;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.logo {
//text-align:center;
//font-family: 'Reenie Beanie', cursive; /*Reenie Beanie is available through Google Webfonts http://code.google.com/webfonts/specimen/Reenie+Beanie*/
//font-size: 20px !important;
//font-style: bol !important;
color: white;
letter-spacing:0.09em;
}

.navbar {
	background-color: #2f3a41 !important;
	//height: 54px !important;
}

.navbar:after {
  background-color: transparent !important;
}

.page {
	background-color: white !important;
}

.blue-page {
	background-color: #2f3a41 !important;
}

.layout-white .content-block-inner {
	background: white !important;
}

.layout-white .list-block #calendario {
	background: white !important;
	border: none !important;
}

.layout-white .list-block #calendario:before {
	background-color: white !important;
}

.layout-white .list-block #calendario:after {
	background-color: white !important;
}

.toolbar~.picker-modal-inner .picker-calendar-months:before {
    background-color: white !important;
}

.layout-white .content-block-inner:after {
    background-color: white !important;
}

.layout-white .picker-modal.picker-modal-inline .picker-calendar-row:after, .layout-white .picker-modal.picker-modal-inline .picker-calendar-week-days:after, .layout-white .popover .picker-modal .picker-calendar-row:after, .layout-white .popover .picker-modal .picker-calendar-week-days:after {
    background-color: white !important;
}

.navigation-drawer {
	padding: 0px !important;
	margin: 0px !important;
	height: 100%;
}

.statusbar-overlay {
    background: #8D7A4B;
    /* We can add transition for smooth color animation */
    -webkit-transition: 400ms;
    transition: 400ms;
}

.header-panel {
	height: 33%;
	background: #2f3a41;
	text-align: center;
	//color: #775952;
	display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

input:focus {
    border:1px solid #00d173;
    box-shadow: 0 0 10px #00d173;
}

.item-title {
	font-size: 15px !important;
	color: #596872 !important;
}

.layout-white .panel {
	background: #2f3a41;
}

.list-block .item-content {
	padding-left: 10px;
}

.subtitle {
	font-size: 15px;
	color: #596872;
}

.subtitle2 {
	font-size: 15px;
	color: white;
}

.username {
	margin-top: -5px;
	//text-align: left;
	font-size: 16px;
	//float: left;
	color: white;
}

.occupation {
	margin-top: -15px;
	color: white;
}

#street_number {
	background: url('../img/country_region.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#street_address {
	background: url('../img/street_address.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#user_city {
	background: url('../img/city.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#user_neighborhood {
	background: url('../img/state.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#zip {
	background: url('../img/zip_code.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#graduation, #passo2-faculdade {
	background: url('../img/school.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#occupation, #passo2-profissao, #passo2-nascimento {
	background: url('../img/icon_business.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#description, #passo2-description {
	background: url('../img/description.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#call-smart-select {
	background: url('../img/skills.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

#call-smart-select2 {
	background: url('../img/tellme.png') no-repeat #eaf0f3 10px 8px !important;
	width: 220px;
}

.smart-ul {
	border: none; 
	border-radius: 15px; 
	background: #eaf0f3 !important;
}

.layout-white .list-block .smart-ul:before, .list-block.layout-white .smart-ul:before {
    background-color: white !important;
}

.layout-white .list-block .smart-ul:after, .list-block.layout-white .smart-ul:after {
    background-color: white !important;
}

.skills {
	margin-top: -10;
}

.toolbar-image {
	width: 30px; height: 30px; border-radius: 100%; margin-right: 13px;
}

.college {
	color: white;
	//opacity: 0.8;
	margin-top: -33px;
	font-size: 15px;
	//font-weight: 600;
	//float: right;
}

.friends {
	//margin-top: -8px;
	color: white;
	font-size: 14px;
}

.friends img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.inline-block {
	display: inline-block;
}

.img-circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.profile-div {
	color: #596872;
}

.img-circle-plus {
	width: 110px;
	height: 110px;
	border-radius: 100%;
	vertical-align: middle;
}

.profile-photo {
    margin-top: 30px;
	margin-bottom: 10px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 40px;
	
}

#pic-confirm {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 80px;
}

#preview-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 80px;
}

#profile-view-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 80px;
}

#user-view-img {
    width: 120px;
    height: 120px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 80px;
}

.search-img {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: -57px;
    margin-left: -70px;
	border: 3px solid white;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;    
    border-radius: 80px;
    position: absolute;
	box-shadow: 0 0 0 0 rgba(0, 209, 115, 0.7);
    top: 50%;
    left: 51%;
    z-index: 1;
    overflow: hidden;
}

.search-effect {
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 120px rgba(232, 76, 61, 0);}}

#search-box {
	//display: none;
	text-align: center;
}

.btn-starbucks {
		margin-left: 70px; 
		margin-right: 70px;
	}

.search-text {
	display: block;
    margin-top: -100px;
    //margin-left: -60px;
    position: relative;
	margin-left: 15px;
	margin-right: 15px;
    bottom: 10%;
    //left: 40%;
    z-index: 1;
	font-size: 15px;
	color: white;
    overflow: hidden;
}

//ESTILOS SLIDE
/* A bit of demo styles */;
.swiper-container {
  height: 100%;
}
.swiper-slide {
  height: 61vh;
  background:#fff;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}

/* Button designs */

.buts {
	position: absolute;
	bottom: 2%;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.but-nope, .but-yay {
  display: inline-block;
  
}

.buts button {

  background: #4cd964;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  width: 70px;
  height: 70px;
  line-height: 30px;
  margin: 0 .5em;
  margin-top: 20px;
  display: inline-block;
  font-size: 19px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
/*
#img-nope {
	//transition: width 0.5s, height 0.5s;
}

#img-nope:active {
		width: 40px;
		height: 40px;
	}
	
#img-fav {
	//transition: width 0.5s, height 0.5s;
}
#img-fav:active {
		width: 70px;
		height: 70px;
	}
	
#img-yep {
	//transition: width 0.5s, height 0.5s;
}

#img-yep:active {
		width: 40px;
		height: 40px;
	}
*/
.buts .but-nope {
  background: #ff3b30;
  width: 50px;
  height: 50px;
}

.buts .but-yay {
  width: 50px;
  height: 50px;
}

.buts .but-info {
  background: #03a9f4;
  //width: 50px;
  //height: 50px;
}

.friends-list {
 list-style: none;
 padding-left: 0px !important;
}

.friends-list li {
display: inline-block;

}

.picker-calendar-day.picker-calendar-day-selected span {
	background: #00d173 !important;
}

.LogotipoFacebook
{
   font-weight: bold;
   font-size: 23px;
   vertical-align: middle;
   font-style: normal; 
   color: white
}

.Conteudo {
	font-size: 15px;
	font-style: normal; 
	color: white
}

.presentation {
	//width: 100%;
	height: 55vh;
	//background-color: #d6616a;
}

.color-red {
	color: #d6616a !important;
}

.button-border .button {
	border: 1px solid #775952 !important;
    color: #775952 !important;
}

.float-button-wrapper {
	//position: absolute; bottom: 8%; left: 0; right: 0; margin: 0 auto; padding-left: 35px; padding-right: 35px; color: white;
}


