@media only screen and (min-width: 360px) {
  .card-top {
	padding-top: 20px;
  }

  .friends {
	font-size: 15px;
  }

  .user-card-profile {
    margin-right: 0px;
  }

  .congrats {
	margin-top: 40px;
  }

	#user-one-img {
		position: absolute;
		width: 65px;
		height: 65px;
		left: 14%;
		top: 33%;
		border: 2px solid white;
		border-radius: 100%;
	}

	#user-two-img {
		position: absolute;
		width: 65px;
		height: 65px;
		right: 14%;
		top: 33%;
		border: 2px solid white;
		border-radius: 100%;
	}

	.btn-green {
		margin-left: 110px;
		margin-right: 110px;
	}
}

@media only screen and (min-width: 410px) {

	.btn-starbucks {
		margin-left: 125px;
		margin-right: 125px;
	}

	#user-one-img {
		position: absolute;
		width: 75px;
		height: 75px;
		left: 14%;
		top: 35%;
		border: 2px solid white;
		border-radius: 100%;
	}

	#user-two-img {
		position: absolute;
		width: 75px;
		height: 75px;
		right: 14%;
		top: 35%;
		border: 2px solid white;
		border-radius: 100%;
	}
}
