/* Estilo do jTinder */
/* Wrapper with padding */
.wrap  {
    height: 80vh;
    padding: 5%;
}

#tinderslide {
    position: relative;
    width: 95%;
    height: 100%;
}

#tinderslide ul {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
}

#tinderslide .username {
	margin-top: -2px;
	font-size: 30px;
	color: #775952;
}

#tinderslide li {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background: #f2efe9;
    font-size: 24px;
    color: #77592;
    border: 1px solid #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(96, 96, 96, 0.2);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* Image rotation */
#tinderslide li.next {
/*
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-2deg);
*/
	//border-radius: 5px;	
	width: 95%;
	left: 2.5%;
}

#tinderslide li.current {
/*
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(0deg);
*/	
	margin-top: 12px;
	//border-radius: 5px;
	
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    background: url("../img/liked.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 80px;
    position: absolute;
    width: 170px;
    left: 45px;
    top:40px;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#tinderslide .dislike {
    right: 45px;
    left: auto;
    background: url("../img/nope.png") no-repeat scroll 0 0;
}

#tinderslide .tag {
	margin: 3px;
	color: #ed7b83;
	padding: 3px;
	padding-left: 12px;
	padding-right: 12px;
	border: 2px solid #ed7b83;
	border-radius: 33px;
	font-size: 15px;
}

.subcol {
	color: #775952;
	font-size: 13px;
	margin-top: 2px;
}

/* Image container */
#tinderslide .img {
    height: 120px;
    width: 120px;
	border-radius: 60px;
	//margin-left: 23px;
	//margin-right: 23px;
    margin-bottom: 5px;
	margin-top: 25px;
    position: relative;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}

/* Action - buttons */
.actions {
    text-align: center;
    width: 304px;
    margin: 0 auto;
    overflow: hidden;
}

.actions div {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

.actions a i {
    display: inline-block;
    width: 40px;
    height: 80px;
}

.actions a.dislike i {
    background: url("../img/dislike_button.png") no-repeat scroll center center;
}

.actions a.like i {
    background: url("../img/like_button.png") no-repeat scroll center center;
}

.actions a {
    float: left;
    display: inline;
    color: #a7a7a7;
    margin: 36px;
	margin-right: 20px;
	margin-bottom: 0px;
    width: 90px;
    height: 90px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    outline: none;
    box-shadow: 0px 1px 4px #aaa, inset 0px 1px 2px #fff;
}



